.Collapse {
  margin-top: 30px;
}



.Collapse-visible {
  background: #ff6060;
  border-radius: 10px;
  display: flex;
  color: #ffffff;
  padding: 10px 15px;
  margin-right: 20px;
  height: 47px;
}

.flecheHaut {
  width: 20px;
  transform: rotate(0deg);
}

.flecheBas {
  width: 20px;
  transform: rotate(180deg);
}

.Collapse-change {
  font-size: 20px;
  opacity: 0;
  background: #f6f6f6;
  transition: opacity 0.2s ease-in-out, height 0.1s 0.1s ease-in-out;
  height: 0px;
  visibility: hidden;
  border-radius: 10px;
  margin-bottom: 50px;
}

.Animate {
  opacity: 1;
  transition: height 0.2s ease-in-out, opacity 0.1s 0.1s ease-in-out;
  height: auto;
  visibility: visible;
  padding: 20px;
  color: #ff6060;
}

