.header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header a {
  text-decoration: none;
  color: #ff6060;
  font-size: 24px;
}

.header a:focus {
border-bottom: 2px solid #ff6060;
/* border-bottom-style: solid; */
/* border-bottom-style: dotted; */
}

.header img {
  margin-left: 0.5rem;
  height: 50px;
}

.linkToHome {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

@media (max-width:375px) {

  .header {
    width: 335px;
  }
  .header img {
    height: 3
    5px;
  }

  .linkToHome {
    display: block;
    width: 150px;
  }

  .linkToHome a {
    font-size: 12px;
    text-transform: uppercase;
    padding-right: 10px;

  }



}