@font-face {
  font-family: "Montserrat";
  src: url();
}
.header {
  position: absolute;
  width: 1240px;
  height: 68px;
  left: 100px;
  top: 40px;
  text-align: center;
  box-sizing: border-box;
}
#logo {
  margin-left: 8rem;
}

.container {
  width: 1240px;
  border: none;
  width: 100%;
}

a {
  text-decoration: none;
  color: #ff6060;
  width: 136px;
  height: 34px;
}

.header {
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  margin-left: 1rem;
}

.linkToHome {
  display: flex;
  width: 200px;
  justify-content: space-around;
}